@import "tailwindcss";
@plugin "daisyui" {
 themes: light --default, dark --prefersdark;
 themes: light --default;
}

body {
    margin: 0;
    padding: 0;
  }
  
  #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
  }